USE [master]
GO
/****** Object:  Database [Demo]    Script Date: 01.03.2022 18:52:39 ******/
CREATE DATABASE [Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Demo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Demo.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Demo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Demo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo]
GO
/****** Object:  Table [dbo].[Agent_PontOfSales]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent_PontOfSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPointOfSales] [int] NULL,
	[IdEmployee] [int] NULL,
 CONSTRAINT [PK_Agent_PontOfSales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentType]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
 CONSTRAINT [PK_AgentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Inn] [varchar](20) NULL,
	[Kpp] [varchar](30) NULL,
	[Phone] [varchar](15) NULL,
	[Code] [varchar](30) NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEmployee] [int] NULL,
	[Number] [int] NULL,
	[Code] [int] NULL,
 CONSTRAINT [PK_Card] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](40) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEmployee] [int] NULL,
	[IdAgentType] [int] NULL,
	[IdCompanyAgent] [int] NULL,
	[JurAddressAgent] [varchar](max) NULL,
	[InnAgent] [varchar](25) NULL,
	[KppAgent] [varchar](25) NULL,
	[DirectorsFullName] [varchar](max) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Email] [varchar](45) NULL,
	[LogoAgent] [varchar](max) NULL,
	[IdPriorityAgent] [int] NULL,
	[IsNewAgent] [bit] NULL,
	[IdPassport] [int] NULL,
	[IsMaried] [bit] NULL,
	[IsDesabled] [bit] NULL,
	[CountChildren] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Bank]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Bank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEmployee] [int] NULL,
	[IdBank] [int] NULL,
	[Bik] [varchar](25) NULL,
	[KorAccount] [varchar](25) NULL,
	[Inn] [varchar](25) NULL,
	[Kpp] [varchar](25) NULL,
 CONSTRAINT [PK_Employee_Bank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Equipment]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Equipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipment] [int] NULL,
	[IdEmployee] [int] NULL,
 CONSTRAINT [PK_Employee_Equipment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeType]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](45) NULL,
 CONSTRAINT [PK_EmployeeType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](10) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryAgentSales]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryAgentSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEmployee] [int] NULL,
	[IdRequest] [int] NULL,
 CONSTRAINT [PK_HistoryAgentSales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryCountMaterial]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryCountMaterial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMaterial] [int] NULL,
	[OldCount] [int] NULL,
	[NewCount] [int] NULL,
 CONSTRAINT [PK_HistoryCountMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryMinCostProductForAgent]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryMinCostProductForAgent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProduct] [int] NULL,
	[OldCost] [money] NULL,
	[NewCost] [money] NULL,
 CONSTRAINT [PK_HistoryMinCostProductForAgent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorySupplyMaterial]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorySupplyMaterial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSupplyMaterial] [int] NULL,
 CONSTRAINT [PK_HistorySupplyMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Source] [varchar](max) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMaterial] [int] NULL,
	[CountInStorage] [int] NULL,
	[CountActual] [int] NULL,
	[InventoryDate] [date] NULL,
	[IdEmployee] [int] NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMaterialType] [int] NULL,
	[Name] [varchar](100) NULL,
	[CountInPack] [int] NULL,
	[IdMeasure] [int] NULL,
	[CountInStorage] [int] NULL,
	[MinCount] [int] NULL,
	[Description] [varchar](max) NULL,
	[Image] [varchar](max) NULL,
	[Cost] [money] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasureType]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasureType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
 CONSTRAINT [PK_MeasureType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passport]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](45) NULL,
	[Surname] [varchar](45) NULL,
	[Middlename] [varchar](45) NULL,
	[BirthDay] [date] NULL,
	[LivingAddress] [varchar](45) NULL,
	[Series] [varchar](10) NULL,
	[Number] [varchar](10) NULL,
	[DivisionCode] [varchar](10) NULL,
	[ExpiryDate] [date] NULL,
	[IssueDate] [date] NULL,
	[IdGender] [int] NULL,
 CONSTRAINT [PK_Passport] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointOfSales]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointOfSales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](35) NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_PointOfSales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriorityType]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriorityType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
 CONSTRAINT [PK_PriorityType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProductType] [int] NULL,
	[ArticleNumber] [varchar](20) NULL,
	[Name] [varchar](30) NULL,
	[Description] [varchar](max) NULL,
	[MinCostForAgent] [money] NULL,
	[Height] [decimal](5, 2) NULL,
	[Width] [decimal](5, 2) NULL,
	[Length] [decimal](5, 2) NULL,
	[WeightWithPack] [decimal](5, 2) NULL,
	[WeightWithoutPack] [decimal](5, 2) NULL,
	[QualitySertificate] [varchar](max) NULL,
	[StandartNumber] [varchar](30) NULL,
	[CountPeopleForProduction] [int] NULL,
	[Workshop] [int] NULL,
	[Image] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProductionFromOffer] [int] NULL,
	[IdProduct] [int] NULL,
	[Count] [int] NULL,
	[CostPrice] [money] NULL,
	[ProductionTime] [time](7) NULL,
	[IdMaterial] [int] NULL,
	[IdRequest] [int] NULL,
 CONSTRAINT [PK_Production] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAgent] [int] NULL,
	[Comment] [varchar](max) NULL,
	[IdRequestProduct] [int] NULL,
	[IdRequestStage] [int] NULL,
	[IsPayed] [bit] NULL,
	[DateOfRequest] [date] NULL,
	[IsDelivery] [bit] NULL,
	[IdManager] [int] NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Product]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRequest] [int] NULL,
	[IdProduct] [int] NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_Request_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestStageType]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestStageType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
 CONSTRAINT [PK_RequestStageType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](45) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Inn] [varchar](25) NULL,
	[Kpp] [varchar](25) NULL,
	[IdSupplierType] [int] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierType]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
 CONSTRAINT [PK_SupplierType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyMaterial]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyMaterial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMaterial] [int] NULL,
	[IdSupplier] [int] NULL,
	[Cost] [money] NULL,
	[DeliveryDate] [date] NULL,
	[IsDelivery] [bit] NULL,
	[IdEmployee] [int] NULL,
 CONSTRAINT [PK_SupplyMaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnstile]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnstile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCard] [int] NULL,
	[DateTimeArrivel] [date] NULL,
	[DateTimeDeparture] [date] NULL,
 CONSTRAINT [PK_Turnstile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 01.03.2022 18:52:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](80) NULL,
	[Password] [varchar](30) NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([Id], [Source]) VALUES (1, N'/images/products/picture.png')
INSERT [dbo].[Image] ([Id], [Source]) VALUES (2, N'/images/products/paper_0.jpeg')
INSERT [dbo].[Image] ([Id], [Source]) VALUES (3, N'/images/products/paper_1.jpeg')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([Id], [IdMaterialType], [Name], [CountInPack], [IdMeasure], [CountInStorage], [MinCount], [Description], [Image], [Cost]) VALUES (1, 1, N'Спрессованный материал серый 0x2', 5, 1, 140, 49, NULL, NULL, 33128.0000)
INSERT [dbo].[Material] ([Id], [IdMaterialType], [Name], [CountInPack], [IdMeasure], [CountInStorage], [MinCount], [Description], [Image], [Cost]) VALUES (2, 2, N'Рулон бумаги зеленый 1x1', 3, 1, 634, 36, NULL, NULL, 26841.0000)
INSERT [dbo].[Material] ([Id], [IdMaterialType], [Name], [CountInPack], [IdMeasure], [CountInStorage], [MinCount], [Description], [Image], [Cost]) VALUES (3, 1, N'Спрессованный материал розовый 2x1', 8, 1, 636, 21, NULL, NULL, 52606.0000)
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (1, N'Пресс')
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (2, N'Рулон')
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (3, N'Гранулы')
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
SET IDENTITY_INSERT [dbo].[MeasureType] ON 

INSERT [dbo].[MeasureType] ([Id], [Name]) VALUES (1, N'М')
INSERT [dbo].[MeasureType] ([Id], [Name]) VALUES (2, N'Л')
INSERT [dbo].[MeasureType] ([Id], [Name]) VALUES (3, N'КГ')
SET IDENTITY_INSERT [dbo].[MeasureType] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [IdProductType], [ArticleNumber], [Name], [Description], [MinCostForAgent], [Height], [Width], [Length], [WeightWithPack], [WeightWithoutPack], [QualitySertificate], [StandartNumber], [CountPeopleForProduction], [Workshop], [Image]) VALUES (1, 4, N'334385', N'Полотенце 28М Клубника', N'', 555555.0000, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2, 6, 3)
INSERT [dbo].[Product] ([Id], [IdProductType], [ArticleNumber], [Name], [Description], [MinCostForAgent], [Height], [Width], [Length], [WeightWithPack], [WeightWithoutPack], [QualitySertificate], [StandartNumber], [CountPeopleForProduction], [Workshop], [Image]) VALUES (2, 2, N'337632', N'Набор 24М Дыня', N'1234варотлшиомрп', 555555.0000, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 7, 4, 3)
INSERT [dbo].[Product] ([Id], [IdProductType], [ArticleNumber], [Name], [Description], [MinCostForAgent], [Height], [Width], [Length], [WeightWithPack], [WeightWithoutPack], [QualitySertificate], [StandartNumber], [CountPeopleForProduction], [Workshop], [Image]) VALUES (3, 2, N'259548', N'Набор 9М Бриз', NULL, 555555.0000, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 4, 5, 25)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Production] ON 

INSERT [dbo].[Production] ([Id], [IdProductionFromOffer], [IdProduct], [Count], [CostPrice], [ProductionTime], [IdMaterial], [IdRequest]) VALUES (1, NULL, 63, 20, NULL, NULL, 24, NULL)
INSERT [dbo].[Production] ([Id], [IdProductionFromOffer], [IdProduct], [Count], [CostPrice], [ProductionTime], [IdMaterial], [IdRequest]) VALUES (2, NULL, 71, 1, NULL, NULL, 6, NULL)
INSERT [dbo].[Production] ([Id], [IdProductionFromOffer], [IdProduct], [Count], [CostPrice], [ProductionTime], [IdMaterial], [IdRequest]) VALUES (3, NULL, 37, 4, NULL, NULL, 6, NULL)
GO
SET IDENTITY_INSERT [dbo].[Production] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (1, N'Три слоя')
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (2, N'Два слоя')
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (3, N'Детская')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Image]  DEFAULT ((1)) FOR [Image]
GO
ALTER TABLE [dbo].[Agent_PontOfSales]  WITH CHECK ADD  CONSTRAINT [FK_Agent_PontOfSales_Employee] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Agent_PontOfSales] CHECK CONSTRAINT [FK_Agent_PontOfSales_Employee]
GO
ALTER TABLE [dbo].[Agent_PontOfSales]  WITH CHECK ADD  CONSTRAINT [FK_Agent_PontOfSales_PointOfSales] FOREIGN KEY([IdPointOfSales])
REFERENCES [dbo].[PointOfSales] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Agent_PontOfSales] CHECK CONSTRAINT [FK_Agent_PontOfSales_PointOfSales]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK_Card_Employee] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK_Card_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_AgentType] FOREIGN KEY([IdAgentType])
REFERENCES [dbo].[AgentType] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_AgentType]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Company] FOREIGN KEY([IdCompanyAgent])
REFERENCES [dbo].[Company] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Company]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeType] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[EmployeeType] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeType]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Passport] FOREIGN KEY([IdPassport])
REFERENCES [dbo].[Passport] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Passport]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_PriorityType] FOREIGN KEY([IdPriorityAgent])
REFERENCES [dbo].[PriorityType] ([Id])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_PriorityType]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_User]
GO
ALTER TABLE [dbo].[Employee_Bank]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Bank_Bank] FOREIGN KEY([IdBank])
REFERENCES [dbo].[Bank] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Bank] CHECK CONSTRAINT [FK_Employee_Bank_Bank]
GO
ALTER TABLE [dbo].[Employee_Bank]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Bank_Employee] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Bank] CHECK CONSTRAINT [FK_Employee_Bank_Employee]
GO
ALTER TABLE [dbo].[Employee_Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Equipment_Employee] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Equipment] CHECK CONSTRAINT [FK_Employee_Equipment_Employee]
GO
ALTER TABLE [dbo].[Employee_Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Equipment_Equipment] FOREIGN KEY([IdEquipment])
REFERENCES [dbo].[Equipment] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee_Equipment] CHECK CONSTRAINT [FK_Employee_Equipment_Equipment]
GO
ALTER TABLE [dbo].[HistoryAgentSales]  WITH CHECK ADD  CONSTRAINT [FK_HistoryAgentSales_Employee] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[HistoryAgentSales] CHECK CONSTRAINT [FK_HistoryAgentSales_Employee]
GO
ALTER TABLE [dbo].[HistoryAgentSales]  WITH CHECK ADD  CONSTRAINT [FK_HistoryAgentSales_HistoryAgentSales] FOREIGN KEY([Id])
REFERENCES [dbo].[HistoryAgentSales] ([Id])
GO
ALTER TABLE [dbo].[HistoryAgentSales] CHECK CONSTRAINT [FK_HistoryAgentSales_HistoryAgentSales]
GO
ALTER TABLE [dbo].[HistoryAgentSales]  WITH CHECK ADD  CONSTRAINT [FK_HistoryAgentSales_Request_Product] FOREIGN KEY([IdRequest])
REFERENCES [dbo].[Request_Product] ([Id])
GO
ALTER TABLE [dbo].[HistoryAgentSales] CHECK CONSTRAINT [FK_HistoryAgentSales_Request_Product]
GO
ALTER TABLE [dbo].[HistoryCountMaterial]  WITH CHECK ADD  CONSTRAINT [FK_HistoryCountMaterial_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[HistoryCountMaterial] CHECK CONSTRAINT [FK_HistoryCountMaterial_Material]
GO
ALTER TABLE [dbo].[HistoryMinCostProductForAgent]  WITH CHECK ADD  CONSTRAINT [FK_HistoryMinCostProductForAgent_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[HistoryMinCostProductForAgent] CHECK CONSTRAINT [FK_HistoryMinCostProductForAgent_Product]
GO
ALTER TABLE [dbo].[HistorySupplyMaterial]  WITH CHECK ADD  CONSTRAINT [FK_HistorySupplyMaterial_SupplyMaterial] FOREIGN KEY([IdSupplyMaterial])
REFERENCES [dbo].[SupplyMaterial] ([Id])
GO
ALTER TABLE [dbo].[HistorySupplyMaterial] CHECK CONSTRAINT [FK_HistorySupplyMaterial_SupplyMaterial]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Employee] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Employee]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Material]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([IdMaterialType])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MeasureType] FOREIGN KEY([IdMeasure])
REFERENCES [dbo].[MeasureType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MeasureType]
GO
ALTER TABLE [dbo].[Passport]  WITH CHECK ADD  CONSTRAINT [FK_Passport_Gender] FOREIGN KEY([IdGender])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Passport] CHECK CONSTRAINT [FK_Passport_Gender]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([IdProductType])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([Image])
REFERENCES [dbo].[Image] ([Id])
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [FK_Production_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [FK_Production_Material]
GO
ALTER TABLE [dbo].[Production]  WITH CHECK ADD  CONSTRAINT [FK_Production_Request] FOREIGN KEY([IdRequest])
REFERENCES [dbo].[Request] ([Id])
GO
ALTER TABLE [dbo].[Production] CHECK CONSTRAINT [FK_Production_Request]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Employee] FOREIGN KEY([IdAgent])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Employee]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Employee1] FOREIGN KEY([IdManager])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Employee1]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_RequestStageType] FOREIGN KEY([IdRequestStage])
REFERENCES [dbo].[RequestStageType] ([Id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_RequestStageType]
GO
ALTER TABLE [dbo].[Request_Product]  WITH CHECK ADD  CONSTRAINT [FK_Request_Product_Product] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Request_Product] CHECK CONSTRAINT [FK_Request_Product_Product]
GO
ALTER TABLE [dbo].[Request_Product]  WITH CHECK ADD  CONSTRAINT [FK_Request_Product_Request] FOREIGN KEY([IdRequest])
REFERENCES [dbo].[Request] ([Id])
GO
ALTER TABLE [dbo].[Request_Product] CHECK CONSTRAINT [FK_Request_Product_Request]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_SupplierType] FOREIGN KEY([IdSupplierType])
REFERENCES [dbo].[SupplierType] ([Id])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_SupplierType]
GO
ALTER TABLE [dbo].[SupplyMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SupplyMaterial_Employee] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[SupplyMaterial] CHECK CONSTRAINT [FK_SupplyMaterial_Employee]
GO
ALTER TABLE [dbo].[SupplyMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SupplyMaterial_Material] FOREIGN KEY([IdMaterial])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[SupplyMaterial] CHECK CONSTRAINT [FK_SupplyMaterial_Material]
GO
ALTER TABLE [dbo].[SupplyMaterial]  WITH CHECK ADD  CONSTRAINT [FK_SupplyMaterial_Supplier] FOREIGN KEY([IdSupplier])
REFERENCES [dbo].[Supplier] ([id])
GO
ALTER TABLE [dbo].[SupplyMaterial] CHECK CONSTRAINT [FK_SupplyMaterial_Supplier]
GO
ALTER TABLE [dbo].[Turnstile]  WITH CHECK ADD  CONSTRAINT [FK_Turnstile_Card] FOREIGN KEY([IdCard])
REFERENCES [dbo].[Card] ([Id])
GO
ALTER TABLE [dbo].[Turnstile] CHECK CONSTRAINT [FK_Turnstile_Card]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
